<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tables.css')}}">

    <script
        type="text/javascript" charset="utf-8" src="{{url_for('static', filename='js/cookies.js')}}">
    </script>
    <script
        type="text/javascript" charset="utf-8" src="{{url_for('static', filename='js/onInit.js')}}">
    </script>

  </head>

  <body>
    <div id="title">
    <h1><a href="/">Index page</a></h1>
    </div>

    <a href="{{ url_for('export') }}">Export</a>

    {% block content %}{% endblock %}
  </body>

    <div id="footer">
        Contact: vladimirbrigant@gmail.com
    </div>

</html>
