<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tables.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}"> -->

  </head>

  <body>
    <div id="title">
    <h1><a href="/">Index page</a></h1>
    </div>

    <div id="menu">
      <ul>
        <li><a href="/bookmarks">Bookmarks</a></li>
        <li><a href="/new_kw_task">sectionA</a></li>
        <li><a href="/new_urls_task">sectionB</a></li>
        <li><a href='/search'>sectionC</a></li>
        <li><a href='/settings'>sectionD</a></li>
        <li><a href='/about'>sectionE</a></li>
      </ul>
    </div>

    {% block content %}{% endblock %}
  </body>

    <div id="footer">
        Contact: vladimirbrigant@gmail.com
    </div>

</html>
