<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tables.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/forms.css')}}"> -->

  </head>

  <body>
    <div id="title">
    <h1><a href="/">Index page</a></h1>
    </div>

    {% block content %}{% endblock %}
  </body>

    <div id="footer">
        Contact: vladimirbrigant@gmail.com
    </div>

</html>
